.jobCla { 
width:350px; 
height:250px; 
border:1px solid #ccc; 
position:absolute; 
display:block; 
z-index:9999; 
background:#fff; 
} 
.jobCla h2 { 
height:40px; 
line-height:40px; 
text-align:center; 
font-size:14px; 
letter-spacing:1px; 
color:#666; 
margin:0; 
padding:0; 
border-bottom:1px solid #ccc; 
cursor:move; 
} 
.jobCla h2 img { 
float:right; 
position:relative; 
top:14px; 
right:8px; 
cursor:pointer; 
} 
.jobCla div.info { 
padding:10px 0 5px 0; 
text-align:center; 
color:maroon; 
} 
.jobCla div.job, .jobCla div.group, .jobCla div.url, 
.jobCla div.body, .jobCla div.cron, .jobCla div.desc,
.jobCla div.remark, .jobCla div.create, .jobCla div.date, .jobCla div.startDate, .jobCla div.endDate { 
font-size:14px; 
color:#666; 
padding:5px 0; 
text-align: right;
margin-right: 100px;
} 
.jobCla input.text { 
width:200px; 
height:25px; 
border:1px solid #ccc; 
background:#fff; 
font-size:14px; 
text-align:center; 
} 
.jobCla .button { 
text-align:center; 
padding:15px 0; 
} 
.jobCla input.submit { 
width:107px; 
height:30px; 
border:none; 
cursor:pointer; 
} 
.jobCla .other { 
text-align:right; 
padding:15px 10px; 
color:#666; 
} 